<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/page.css">
    <title>404 NOT FOUND</title>
</head>
<body>
    <div class="nav">
        
    </div>
    <div class="main">
        <div class="error-list">
            <h1 class="error">404 NOT FOUND</h1>
            <h1 class="error">你访问的页面不存在</h1>
        </div>
    </div>
        <div class="clear"></div>
    </div>
    <div id="main-footer">
        
    </div>
    <script src='js/blogPublicElement.js'></script>
</body>
</html>
