<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page - My Blog</title>
    <link rel="stylesheet" href="css/page.css">
    <script src="js/utils.js"></script>
    <style>
        #id-comment-blog {
            text-decoration: none;
            color: cornflowerblue;
            font-size: 13px;
        }
        #id-comment-blog:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="nav"></div>
    <div class="admin-article-list"></div>
    <div id="main-footer"></div>
    <script src='js/adminPublicElement.js'></script>
    <script src='js/comment.js'></script>
</body>
</html>


