<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/page.css">
    <script src="js/utils.js"></script>
    <title>My Blog</title>
</head>
<body>
    <div class="nav">
        
    </div>
    <div class="main">
        <div class="wrap">
            
        </div>
    </div>
    <div class="clear"></div>
    </div>
    <div id="main-footer">
        
    </div>
    <script src='js/blogPublicElement.js'></script>
    <script src='js/index.js'></script>
</body>
</html>
