<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page - My Blog</title>
    <link rel="stylesheet" href="css/page.css">
    <script src="js/utils.js"></script>
</head>
<body>
    <div class="nav"></div>
    <div class="admin-submit">
        <div class="admin-title">
            <span>文章标题：</span>
            <input id="id-text-title" type="text" value="">
            <button class="input-button" id="id-button-submit">发布</button>
        </div>
        <div class="input-text">
            <textarea id="id-input-content" type="text" value="" rows="20" cols="100"></textarea>
        </div>
    </div>
    <div class="clear"></div>
    <div id="main-footer"></div>
    <script src='js/adminPublicElement.js'></script>
    <script src="js/post.js"></script>
</body>
</html>